<%= form_for @invite, url: user_group_invites_path(@user_group) do |f| %>
  <% if @invite.errors.any? %>
    <div class="errors">
      <h2>There be errors!</h2>
      <ul>
        <% @invite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
